@media (max-width: 768px) {
    .position-absolute {
      width: 100px !important;
      height: 100px !important;
    }
    .text-center {
      font-size: 1.5rem !important;
    }
  }
  @media (max-width: 576px) {
    .position-absolute {
      width: 75px !important;
      height: 75px !important;
    }
    .text-center {
      font-size: 1.25rem !important;
    }
  }
  