/* App.css */
.App {
  min-height: 100vh;
  position: relative;
  transition: margin-left 0.5s ease; /* Slowed down */
  overflow-x: hidden;
}

.App.nav-open {
  margin-left: 250px;
  transform: translateX(0);
}

.main-content {
  padding: 20px;
  transition: opacity 0.5s ease-in-out; /* Keep this duration */
  min-height: 100vh;
  width: 100%;
  opacity: 1; /* Default opacity */
}

.main-content.faded {
  opacity: 0.5; /* Fade out effect */
}

@media (max-width: 767px) {
  .App.nav-open {
    margin-left: 75px;
  }
  
  .main-content {
    padding: 60px 15px 20px; /* Added top padding for mobile to account for toggle button */
  }
}

.underline {
  position: relative;
  display: inline-block; /* Adjust to your layout */
}

.underline::after {
  content: '';
  position: absolute;
  bottom: -4px; /* Adjust this value to position the underline */
  left: 0;
  width: 100%; /* Make it full width */
  height: 4px; /* Adjust the height of the underline */
  background-color: rgb(120, 213, 247); /* Starting color */
  animation: underline-animation 6s infinite; /* Slowed down */
}

@keyframes underline-animation {
  0% {
    background-color: rgb(36, 135, 192);
  }
  50% {
    background-color: rgb(181, 206, 224); /* Middle color */
  }
  100% {
    background-color: rgb(255, 255, 255); /* Ending color */
  }
}